### Use this air bnb new york city data set and remove outliers using percentile based on price per night for a given apartment/home. You can use suitable upper and lower limits on percentile based on your intuition. Your goal is to come up with new pandas dataframe that doesn't have the outliers present in it.

In [1]:
import pandas as pd
import numpy as np

In [37]:
df = pd.read_csv("AB_NYC_2019.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [38]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [42]:
df.price.describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [48]:
df.price.quantile(0.01)

np.float64(30.0)

In [56]:
min_threshold,max_threshold = df.price.quantile([0.01,0.999])
min_threshold,max_threshold

(30.0, 3000.0)

In [62]:
df2 = df[(df.price>min_threshold)&(df.price<max_threshold)]

In [63]:
df2.sample(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
19429,15497673,Bluebird Hell's Kitchen Deluxe 2BR+ Zero Edge ...,95459395,Bluebird,Manhattan,Hell's Kitchen,40.76190,-73.99896,Entire home/apt,748,30,0,NaN,NaN,18,365
27810,21804600,The garden apartment,158781381,Samuel,Brooklyn,East New York,40.66204,-73.88946,Entire home/apt,90,2,54,2019-06-25,2.84,2,255
16050,12973288,Private room for pair,68139551,Kamil,Queens,Maspeth,40.72103,-73.89458,Private room,60,1,30,2019-01-05,0.78,3,364
11871,9240606,"Sunny, Book-Filled Room in Carroll Gardens",14078910,Andy,Brooklyn,Carroll Gardens,40.68172,-73.99358,Private room,75,2,42,2018-06-06,0.96,1,0
42707,33155194,Bed-Stuy 2 Bed/2 Bath - Newly Renovated,34014150,Barry,Brooklyn,Bedford-Stuyvesant,40.68394,-73.94002,Entire home/apt,175,4,4,2019-06-03,1.64,1,196
3724,2246112,"Upper E. side, one month minimum",11443640,James,Manhattan,Upper East Side,40.78158,-73.94808,Entire home/apt,110,1,3,2017-08-29,0.06,1,0
48532,36310268,Full size room,171482981,Alejandro,Queens,Maspeth,40.71327,-73.90982,Private room,65,2,1,2019-07-06,1.00,1,21
3399,2038278,Bright and Open Astoria Apartment,10456845,Taylor,Queens,Astoria,40.76589,-73.92864,Entire home/apt,100,1,2,2015-12-30,0.03,2,0
9863,7593263,Brand new 2bed/2bath garden apt steps from train,39808438,Easton,Brooklyn,Bushwick,40.68902,-73.91560,Entire home/apt,85,2,172,2019-06-17,3.60,5,136
47792,35916694,New Sophisticated 4BR/2.5BA NYC Midtown Apt,115180259,Leslie,Manhattan,Murray Hill,40.74865,-73.98158,Entire home/apt,299,3,1,2019-06-29,1.00,1,187

In [64]:
df2.price.describe()

count    48183.000000
mean       148.772036
std        153.594795
min         31.000000
25%         70.000000
50%        110.000000
75%        179.000000
max       2999.000000
Name: price, dtype: float64